<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>BitCoin Calculator</h1>
    <form action="/" method="POST">
        Insert number of BitCoins:
        <input type="text" name="number" id="number"><br><br>
        Bitcoin to:
        <select name="currency">
            <option value="USD">US Dollar</option>
            <option value="EUR">EU Euros</option>
        </select>
        <button type="submit" id="button">Convert</button>
    </form><br>
    <table>
        <tr>
    <th>Total value of BitCoins:</th>
    <td><%=currency +' '+code%></td>
</tr>
</table>
</body>
</html>